################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net8.0
/.vs
/obj
/VistasVue/.vs
/VistasVue/.vscode
/bin/Release/net8.0
/.config
/Properties/PublishProfiles
/Properties/ServiceDependencies/SaludLaboral6toUAA - Web Deploy/profile.arm.json
