/* @import './base.css'; */
@import './adminuser.css';
@import './Formulariostyle.css';
@import './pagina.css';
@import './ProyectoLaboralstyle.css';

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
} */
