

@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    /* background-image: linear-gradient(to bottom, #cfe8ff, #fbfbfb, hsl(0, 0%, 100%),  #ffffff);
    background-color: grad; */
    background-color: hsl(0, 0%, 100%);
    background-image: radial-gradient(800px circle at 100% 0%,
        hsl(211, 58%, 92%) 15%,
        hsl(210, 86%, 97%) 35%,
        hsl(223, 91%, 95%) 75%,
        hsl(214, 100%, 99%) 80%,
        transparent 100%),
        radial-gradient(600px circle at 0% 100%,
          hsl(202, 46%, 92%) 15%,
          hsl(0, 0%, 100%) 35%,
          hsl(210, 100%, 96%) 75%,
          hsl(216, 100%, 99%) 80%,
          transparent 100%);
    
}


  .web-color {
    text-shadow: 1.5px 1.5px 0 #233f5b;
    font-weight: 900;
}




.navbar {
  box-shadow: 0px 4px 6px rgba(68, 65, 65, 0.6);
  background-color: rgba(22, 43, 97, 0.807);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(1px);
    
}
.navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ocupa todo el ancho */
}
.navbar-brand
{
    font-family: "DM Sans", sans-serif;
    font-weight: 1000;
    font-size: 25px;
    color: white !important;
    transition: transform 0.3s ease-in-out !important;
}

.nav-link {
    color: white !important;
    font-weight: 800 !important;
    transition: transform 0.3s ease-in-out !important;
}
.nav-link:hover {
    transform: scale(1.1);
}

.navbar .navbar-brand:hover{
    transform: scale(1.2);
}

.carousel-shadow {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.carousel-caption {
    position: absolute;
    top: 45%;
    right: 30% !important;
    transform: translate(-20%, -50%);
    text-align: left !important;
    padding: 50px; 
    color: white; 
}
.carousel-caption h5 {
    font-size: 60px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); 
    font-weight: 700;
  }

.carousel-02{
    color:#1c5085;
    font-weight: 100 !important;

} 
.programacion {
    color:#2e4a80;
}
.intro{
    color:#f4f4f4;
}
.carousel-caption p {
    margin-top: 5%;
    font-size: 20px; 
    font-weight: 100;
  }



.boton {
margin-top: 15px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  color: white !important;
  background-image: linear-gradient(to right, #7ca6e2, #4763b8);
  border-radius: 25px;
  padding: 10px 20px;
  height: 50px;
  width: auto;
  border: none;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  line-height: 30px;
}
.boton:hover {
  transform: scale(1.05);
}



.carousel-control-prev, .carousel-control-next {
    width: 1%;
  }
  
  .carousel-control-prev {
    left: -70px !important;
  }
  
  .carousel-control-next {
    right: -20px;
  }

  .blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
  }

  #iniciarsesion{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  
  h1, h2, h3, h4, h6 {
    font-family: "DM Sans";
  }
  
  .display-4 {
    font-size: 2.5rem;
  }
  @media (min-width: 768px) {
    .display-4 {
      font-size: 3rem;
    }
  }

  .container-p {
    background-color: white;
  }

  #pantalla {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.contenedor {
  width: 90%;
  margin: 0 auto; /* centra horizontalmente */
  padding: 30px;
}


  
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  
  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
  }


html.barra{
    overflow: hidden /*oculta la barra de desplazamiento*/
}

#frame {
    display: flex;
    flex-direction: column;
    height: 100vh; /* altura completa de la ventana */
    width: 100vw; /* ancho completo de la ventana */
    margin: 0;
    padding: 0;
}

iframe {
    border: none;
}

#header {
    height: 15vh; 
    width: 100%;
}

#main {
    flex-grow: 1;
    width: 100%;
    overflow: auto; /* Permite el desplazamiento si el contenido es mayor */
}

.img{
    width: auto;
    max-height: 65px;
}



figure {
    margin: 5px 5px;
    display: flex; 
    align-items: center;
}


#derecha {
    display: flex; 
    align-items: center;
    margin-left: auto;
    flex-wrap: nowrap;
}       


h1 {
   
    color: #fff; 
    font-size: 30px;
    margin-bottom: 0; /* Eliminar margen inferior */
}


p{
    font-size: larger;
}

.texto{
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
}

.centro{
    text-align: center;
}

.regresar{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color:  darkblue;
    background-color: gold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bolder
}

.regresar:hover{
    color: white;
    background-color:  indianred;
}


/*GUIA*/
#pdf{
    width:80%;
    height:600px
}

/*ADMIN USUARIOS*/
label{
    font-weight:  bolder
}

 .enlaces-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.enlace-item {
    text-align: center;
}

.enlace-item p {
    margin-bottom: 5px;
}

 
 /*TABLA CONSULTAR USUARIOS ALUMNOS*/
 #tablauser{
      width: 100%; 
      padding-left: 20px;
      padding-right: 20px;
 }
 
 th, td { 
     text-align: left; 
     padding: 8px; 
     border-bottom: 1px solid #ddd; 
 }
 
 th {
     background-color: gold; 
     color:darkblue;
 }
 
/*Tabla para ver la consulta join informe*/ 
 #tablajoin{
      width: 100%; 
      padding-left: 20px;
      padding-right: 20px;
 }
 
 /*Tablas consulta*/
 
 caption{
     font-size: larger;
    font-weight: bold;
    text-align: center;
    color:red;
 }